  <div class="row px-0 vh-100">
      <div class="center-left col-9 px-0 text-left text-dark border">

          <nav class="navbar navbar-expand-lg mainsection border-bottom">
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <%= link_to new_tweet_path do%>
                          <p class="nav-link text-dark mb-0">Tweets</p>
                          <%end%>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark ">Photos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark">Videos</a>
                      </li>
                  </ul>
              </div>
          </nav>
          <br>
          <br>


          <div class="bg-white mx-5 px-3">
              <div class="px-5 ">
                  <%= simple_form_for :@tweet , url: tweets_path do |x| %>
                  <h5 class="pt-4 pb-2">
                      Tweet Something:
                  </h5>
                  <p>
                      <%= x.text_area :text,class: "form-control"%>
                  </p>
                  <p class="pb-3">
                      <%= x.submit "Tweet", class: "btn btn-primary" %>
                  </p>

                  <%end%>

              </div>
          </div>
      </div>

      <div class="center-right">
          <div>
              <%= @tweet.inspect %>
          </div>

      </div>

  </div>