 <div class="px-2 mx-2">
     <div class="container-fluid pt-2 pb-3">
         <div class="tweet mx-auto">

             <div class="photo">
                 <%= link_to user_path(followedby.follower) do%>
                 <%= followerprofilephoto(followedby.follower) %>
                 <%end%>
             </div>

             <div class="content">
                 <div class="tweet-text">
                     <div class="text-muted">
                         <%= link_to user_path(followedby.follower), class: "text-dark" do%>
                         <h5 class="text-capitalize font-weight-bold pt-2"> <%=followedby.follower.fullname %> </h5>
                         <%end%>
                         <p class="text-capitalize font-weight-light">
                             <%=followorunfollow1(followedby.follower) %>
                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>