<!DOCTYPE html>
<html>

<head>
    <title>Banter Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Banter Twitter" />
    <meta property=" og:description" content="Redesigned Twitter MVP" />
    <meta property="og:image" content="https://i2-prod.manchestereveningnews.co.uk/incoming/article9873661.ece/ALTERNATES/s615/shirts-tweet.jpg" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>



<body>

    <%=checklogin%>


</body>

</html>